* {
    margin: 0;
    padding: 0;
}
:root {
    --volver: #d4ffe3;
    --medio: #3a6987;
    --claro: #ffffff00;
    --oscuro: #a07e28;
    --muy-oscuro: #192e3a;
}
body {
    background-color: #000000;
}
header {
    margin-bottom: 3rem;
}
/* Básico general */

/* Cuerpo */
main {
    width: 100%;
    height: fit-content;
}
.div_infografia_principal {
  width: 100%;
  height: fit-content;
  margin-bottom: 6rem;
}
.fondo_infograf {
    height: 100vh;
    width: 700px;
    background-color: var(--claro);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 11px 11px 3px -3px rgba(77, 76, 75, 1);
-webkit-box-shadow: 11px 11px 3px -3px rgba(77, 76, 75, 1);
-moz-box-shadow: 11px 11px 3px -3px rgba(77, 76, 75, 1);
margin-bottom: 7rem;
position: relative;
}
.tipogr-principal {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.tipogr-negrita {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.tipogr-cursiva {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.sect_gen {
    height: 25%;
    width: 98%;
    display: flex;
}
.sect_gen_der {
  justify-content: end;
}
.imagen_tarjeta {
  transition: all 300ms;
  width: 14rem;
  position: relative;
  border-radius: 14px;
}
.imagen_tarjeta:hover {
  transform: scale(1.2);
}
.izq {
  margin-left: 4rem;
}
.der {
  margin-right: 4rem;
}
.tarjeta {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-style: bold;
  font-size: 15px;
  width: 42rem;
  height: 40rem;
  border: groove 3px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  background-color: white;
  box-shadow: 0px 0px 14px -2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 14px -2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 14px -2px rgba(255, 255, 255, 0.75);
}
.fondo_titulo {
  width: 100%;
  height: fit-content;
  background: red;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: center;
}
.imagen_reducida {
  width: 100%;
  height: 100%;
  border-radius: 0 0 5% 5%;
  background: url(Images/Fondo\ tarjetas.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div_infografia_principal {
  display: flex;
  justify-content: center;
}
.ajustado_a_contenido {
  height: fit-content;
  width: fit-content;
}
.div_info_ampliada {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 16rem;
}
.texto_ampliado {
  width: 70%;
  height: fit-content;
  color: black;
  font-size: 1.2rem;
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.decoracion_info {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(Images/Fondo\ de\ tarjeta\ grande.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 15px;
}
.contiene_info_ampliada {
  width: 100%;
  height: fit-content;
}
/* -Cuerpo */
/* Boton de volver */
.boton_volver {
    transform: rotate(91deg);
    height: 60px;
    width: 60px;
    position: fixed;
    top: 90%;
    left: 92%;
    border-radius: 50%;
    box-shadow: 0px 0px 44px 3px var(--volver);
    -webkit-box-shadow: 0px 0px 44px 3px var(--volver);
    -moz-box-shadow: 0px 0px 44px 3px var(--volver);
    z-index: 3;
  }
/* -Boton de volver */
  /* Footer */
  footer {
    position: relative;
    align-items: baseline;
    background-color: var(--oscuro);
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  article {
    color: white;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
  }
  .sect1, .sect2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sect1 p, .sect2 p {
    margin: 4px;
  }

  /* -Footer */